<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>About fragment</title>
</head>
<body>
<!-- ======= About Section ======= -->
<div th:fragment="about">
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img th:src="@{../img/398261691_1091539021833048_1449095519974128570_n}" class="img-fluid" alt="" />
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                     data-aos-delay="100">
                    <h3>БОБО ИНЖЕНЕРИНГ ЕООД</h3>
                    <p class="fst-italic">
                        Бобо Инжинеринг е фирма, посветена на управлението, консултантските услуги и
                        пълното обслужване на строително-инвестиционни проекти. Ние работим в
                        динамична среда с гъвкавост, бързина и високо качество при реализацията
                        на инвестиционната програма на клиента.
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Опит и експертиза - знания в сферата и техническа компетентност
                        </li>
                        <li><i class="ri-check-double-line"></i> Почтеност и професионализъм - етични стандарти, професионализъм и политики за конфликт на интереси
                        </li>
                        <li><i class="ri-check-double-line"></i> Подход ориентиран към клиента - Специализирани решения, ефективна комуникация и отзивчивост
                        </li>
                    </ul>
                    <p>
                        Бобо Инжинеринг прилага най-новите методи при управлението на проекти и
                        предлага иновации за тяхното изпълнение. Благодарение на богатия си опит
                        имаме изградена цялостна стратегия за управление , в коята ключова роля имат
                        уменията и знанията на нашия екип от висококвалифицирани професионалисти.
                    </p>
                </div>
            </div>

        </div>
    </section>
</div>
<!-- End About Section -->
</body>
</html>
