<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer fragment</title>
</head>
<body>
<div th:fragment="footer">
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>BE<span>.</span></h3>
                            <p>
                                ул. „Стоян Михайловски“, <br>
                                1113 Ловен, София<br><br>
                                <strong>Phone:</strong> +359 895 012 638<br>
                                <strong>Email:</strong> bobo.engineering@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="https://www.facebook.com/BOBOengineering/" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Бързи връзки</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/">Начало</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#about">За нас</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#services">Услуги</a></li>
<!--                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>-->
<!--                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>-->
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Нашите услуги</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="/%D1%83%D0%BF%D1%80%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5-%D0%BD%D0%B0-%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B8-%D0%B2-%D1%81%D1%82%D1%80%D0%BE%D0%B8%D1%82%D0%B5%D0%BB%D1%81%D1%82%D0%B2%D0%BE#"
                                    th:text="#{project.management}">Project Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/engineering"
                                                                       th:text="#{project.services}">Engineering
                                Projects</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/consultancy_services"
                                                                       th:text="#{consulting.services}">Consultancy
                                Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/quality-control"
                                                                       th:text="#{control.services}">Quality Control</a>
                            </li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#" th:text="#{brokerage.services}">Brokerage
                                Services</a></li>
                        </ul>
                    </div>


                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Запишете да получавате новини, оферти и промоции на Вашата поща</p>
                        <form action="" method="post">
                            <label>
                                <input type="email" name="email">
                            </label>
                            <input type="submit" value="Subscribe">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Bobo Engineering</span></strong>. All Rights Reserved
            </div>
            <div class="credits">Designed by <a href="https://badmin.org/">minus273dot15</a> & Vasil Buhov
            </div>
        </div>
    </footer>
    <!-- End Footer -->
</div>
</body>
</html>
