<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonials fragment</title>
</head>
<body>
<div th:fragment="testimonials">
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img th:src="@{/img/testimonials/testimonials-1.jpg}" class="testimonial-img" alt="">
                            <h3 th:text="#{client.1}">Иван Петров</h3>
                            <h4 th:text="#{client.1occupation}">главен архитект</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span th:text="#{client1.review}">Текст ревю на клиент 1</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img th:src="@{/img/testimonials/testimonials-2.jpg}" class="testimonial-img" alt="">
                            <h3 th:text="#{client.2}">Мария Илиева</h3>
                            <h4 th:text="#{client.2occupation}">управител на строителна компания</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span th:text="#{client2.review}">Текст ревю на клиент 2</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img th:src="@{/img/testimonials/testimonials-3.jpg}" class="testimonial-img" alt="">
                            <h3 th:text="#{client.3}">Георги Димитров</h3>
                            <h4 th:text="#{client.3occupation}">частен инвеститор</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span th:text="#{client3.review}">Текст ревю на клиент 3</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img th:src="@{/img/testimonials/testimonials-4.jpg}" class="testimonial-img" alt="">
                            <h3 th:text="#{client.4}">Лилия Тодорова</h3>
                            <h4 th:text="#{client.4occupation}">собственик на хотел</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span th:text="#{client4.review}">Текст ревю на клиент 4</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img th:src="@{/img/testimonials/testimonials-5.jpg}" class="testimonial-img" alt="">
                            <h3 th:text="#{client.5}">Димитър Стефанов</h3>
                            <h4 th:text="#{client.5occupation}">управител на проект</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                <span th:text="#{client5.review}">Текст ревю на клиент 5</span>
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>

                        </div>
                    </div><!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <!-- End Testimonials Section -->
</div>
</body>
</html>
