<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Construction Control Services</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{../img/favicon.png}" rel="icon"/>
    <link th:href="@{../img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{../vendor/aos/aos.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/glightbox/css/glightbox.min.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/swiper/swiper-bundle.min.css}" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link th:href="@{../css/style.css}" rel="stylesheet"/>
    <link th:href="@{../css/inner.css}" rel="stylesheet"/>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/img/398208866_296711279861103_3079479431854537032_n.jpg'); /* Replace with the path to your background image */
            background-size: cover;
            background-position: center;
        }

        .content-board {
            max-width: 80%;
            margin: 10% auto;
            padding: 5%;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.85);
        }
    </style>

</head>

<body>

<div th:replace="fragments/inner-page-header :: inner-page-header"></div>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Контрол при строителни и строително-ремонтни дейности</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Construction Control Services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="content-board">
                <img class ="mid-imageCustom" src="/img/Контрол%20при%20строителните%20и%20ремонтни%20дейности/top_image_Lz54no_C_1694350011121_raw.jpg"  alt="Top Image -1">
                <img class ="mid-imageCustom" src="/img/Контрол%20при%20строителните%20и%20ремонтни%20дейности/top_below_image_BlC5k1qH_1694350018833_raw.jpg"  alt="Top Image -2">


                <h2>Сблъсъкът, който имаме с недостигът на квалифицирана работна сила в строителството и безумията породени от това, ни накараха да създадем тази и следващата услуга от портфолиото ни.</h2>
                <p>Чрез услугата за контрол при строителни и строително-ремонтни дейности сме на Ваше разположение за всякакви ситуации свързани с недоброкачествено, нетехнологично, неправилно извършване на строителство или строително-монтажни работи и/или съмнения за влагане на некачествени материали или пропускането на отделни етапи и компоненти.</p>
                <p>Можете да ни възложите както контрола на ремонта вкъщи така и контрол по изграждането на Вашата сграда или отделни етапи от нея.</p>
                <p>Потърсете ни, ако искате от нас да изконтролираме определен строителен процес, за определен период от време – до неговото успешно завършване.</p>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="fragments/footer :: footer"></div>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{../vendor/purecounter/purecounter.js}"></script>
<script th:src="@{../vendor/aos/aos.js}"></script>
<script th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{../vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{../vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{../vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{../js/main.js}"></script>

</body>

</html>
