<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Консултантска дейност</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{../img/favicon.png}" rel="icon"/>
    <link th:href="@{../img/apple-touch-icon.png}" rel="apple-touch-icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{../vendor/aos/aos.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/boxicons/css/boxicons.min.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/glightbox/css/glightbox.min.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/remixicon/remixicon.css}" rel="stylesheet"/>
    <link th:href="@{../vendor/swiper/swiper-bundle.min.css}" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link th:href="@{../css/style.css}" rel="stylesheet"/>
    <link th:href="@{../css/inner.css}" rel="stylesheet"/>

    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/img/398208866_296711279861103_3079479431854537032_n.jpg'); /* Replace with the path to your background image */
            background-size: cover;
            background-position: center;
        }

        .content-board {
            max-width: 80%;
            margin: 10% auto;
            padding: 5%;
            border: 1px solid #ccc;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            background-color: rgba(255, 255, 255, 0.85);
        }
    </style>

</head>

<body>

<div th:replace="fragments/header :: header"></div>

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>Консултантска дейност</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Consultancy Services</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="content-board">

                    <h2>Консултантска дейност</h2>

                <img class ="mid-imageCustom" src="/img/Консултантска%20дейност/pexels-photo-288477-768x576.jpeg"  alt="Top Image -1">
                <img class ="mid-imageCustom" src="/img/Консултантска%20дейност/pexels-photo-768x512.jpg"  alt="Top Image -2">

                <h2>Е, след като Ви представихме част от нашите експерти и опит, който имаме, сме убедени, че можем успешно да Ви консултираме във всички сфери и процеси на строително-инвестиционната инициатива.</h2>
                <p>Можем да изготвим за Вас следните услуги:</p>
                <ul>
                    <li>Строително-технически експертизи;</li>
                    <li>Конструктивни становища;</li>
                    <li>Становища относно качеството на изпълняваните и/или изпълнените строително-монтажни работи;</li>
                    <li>Управление на недвижими имоти;</li>
                    <li>Предназначения на поземлени имоти;</li>
                    <li>Урегулиране и застрояване;</li>
                    <li>Мрежи и съоръжения от техническата инфраструктура;</li>
                    <li>Устройствени планове;</li>
                    <li>Строителни забрани и други.</li>
                </ul>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<div th:replace="fragments/footer :: footer"></div>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{../vendor/purecounter/purecounter.js}"></script>
<script th:src="@{../vendor/aos/aos.js}"></script>
<script th:src="@{../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{../vendor/glightbox/js/glightbox.min.js}"></script>
<script th:src="@{../vendor/isotope-layout/isotope.pkgd.min.js}"></script>
<script th:src="@{../vendor/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{../vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{../js/main.js}"></script>

</body>

</html>
